
:root {
    --rh: 0px;
    --dark: #161614;
	--grey: #EDECE8;
	--currentcolor: #FFFFFF;
	--currentcolorop: #FFFFFFF2;
	--maxw: 1460px;
}

html {
    font-size: 23px;
}

html,body {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "Gelion-Regular", sans-serif;
    background-color: var(--grey);
    color: var(--dark);
    overflow: hidden;
}

.fancy_card {
	position: absolute;
	top: 30px;
	left: 30%;
    transform: translate(50%);
	cursor: pointer;
	opacity: 0;
}

.fancy_card  {
    width: 550px;
    height: 400px;
}

.fancy_card:hover {
	z-index: 5;
}

.fancy_card .basebg, .fancy_card .bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}

.fancy_card .content {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	border: 1px solid var(--dark);
	background-color: var(--grey);
}

.fancy_card .info {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-color: var(--grey);
	border: 1px solid var(--dark);
	display: flex;
	flex-direction: column;
	transform: translate(20px,-20px);
}

.fancy_card .info .bg {
	z-index: -1;
	background-color: #FFFFFF;
}

.fancy_card:hover .info {
	transition: transform 0.5s cubic-bezier(0,0,0.2,8);
	transform: translate(20px,-20px) scale(1.01);
}

.fancy_card .info .name {
	max-width: 370px;
	padding: 30px 100px 30px 40px;
	position: relative;
	z-index: 2;
}

.fancy_card.selected {
	pointer-events: none;
}

.fancy_card .info .num {
	font-size: 16px;
	font-family: "Gelion-Light";
	border-radius: 100%;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 40px;
	right: 30px;
	border: 1px solid var(--dark);
	z-index: 2;
	overflow: hidden;
}

.fancy_card .info .num .bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: -1;
	transition: opacity 0.25s linear;
}

.fancy_card .info .image {
	height: 100%;
    margin: 30px 30px 50px;
	position: relative;
}

.fancy_card .info .image {
	height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 30px 30px 50px;
	position: relative;
}

.fancy_card .lateral_phrase {
	position: absolute;
	bottom: 30px;
	left: 30px;
	z-index: 8;
	font-size: 16px;
	transform: rotate(-90deg) translateY(100%);
	transform-origin: bottom left;
}

.fancy_card .info .image .solid, .fancy_card .info .image .line {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: contain !important;
	transition: opacity 0.5s cubic-bezier(0,0.5,0.2,1);
}


















